---
apiVersion: v1
kind: ConfigMap
metadata:
  namespace: metallb-system
  name: config
data:
  config: |
    address-pools: {% if not floating_ips|length %}[]{% else %}

    - name: floating-ip
      protocol: layer2
      addresses:
{% for fip in floating_ips %}
      - {{ fip }}/32
{% endfor %}
      {% endif %}
