if $msg contains "runc" and $msg contains ".mount: Succeeded." then {
    stop
}

if $msg contains "/kubernetes.io~configmap/" and $msg contains "Setting volume ownership for" then {
    stop
}

if $msg contains "/kubernetes.io~secret/" and $msg contains "Setting volume ownership for" then {
    stop
}

if $msg contains "But it is not owned by kubelet" and $msg contains "mysql.presslabs.org/NodeInitialized" then {
    stop
}
