*filter
:INTERNET-INGRESS - [0:0]
-A INPUT -i eth0 -j INTERNET-INGRESS
-A INTERNET-INGRESS -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT
-A INTERNET-INGRESS -m conntrack --ctstate INVALID -j DROP
-A INTERNET-INGRESS -p icmpv6 -j ACCEPT
{% for port in open_tcp_ports %}
-A INTERNET-INGRESS -p tcp -m tcp --dport {{ port }} -j ACCEPT
{% endfor %}
{% for port in open_udp_ports %}
-A INTERNET-INGRESS -p udp -m udp --dport {{ port }} -j ACCEPT
{% endfor %}
{% if allow_public_vrrp %}
-A INTERNET-INGRESS -p vrrp -j ACCEPT
{% endif %}
-A INTERNET-INGRESS -j DROP
COMMIT
