global
    maxconn                 4000

defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option                  http-server-close
    option                  redispatch
    retries                 5
    timeout http-request    5m
    timeout queue           5m
    timeout connect         30s
    timeout client          5m
    timeout server          15m
    timeout http-keep-alive 30s
    timeout check           30s
    maxconn                 4000

frontend kube_api_frontend
  bind {{ haproxy_listen_address }}:{{ haproxy_listen_port }}
  mode tcp
  option tcplog
  default_backend kube_api_backend

backend kube_api_backend
  mode tcp
  balance roundrobin
  default-server inter 15s downinter 15s rise 2 fall 2 slowstart 60s maxconn 1000 maxqueue 256 weight 100
  option tcp-check

  {% for host in groups['master'] %}
  server {{ host }} {{ hostvars[host]['private_ip'] }}:{{ haproxy_backend_port }} check
  {% endfor %}
